.container {
  display: flex;
}

.sidebar {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  width: 100%;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0px;
  text-align: justify;
}

.marketData {
  align-self: start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }
  .marketData {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .marketData {
    align-items: start;
  }
}
